{{#if answerFormShow}}
  <h1>New ribbit (Answer)</h1>
    <div class="row">
      <form class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label for="ribbit">ribbit (Answer)</label>
          {{input class="form-control" value=ribbit id="ribbit"}}
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          {{input class="form-control" value=author}}
        </div>
        <button {{action 'saveAnswer'}}><img id="ribbit-icon" src="assets/images/logo.png" alt="ribbit icon" />  ribbit!</button>
      </form>
    </div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
