{{#if addNewQuestion}}
  <h2>New RIBBIT (Question)</h2>
  <div>
    <form class="col-md-6">
      <div class="form-group">
        <label for="ribbit">RIBBIT (question)</label>
        {{input class="form-control" value=ribbit id="ribbit"}}
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        {{input class="form-control" value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{input class="form-control" value=notes id="notes"}}
      </div>
      <button {{action 'saveQuestion'}}><img id="ribbit-icon" src="assets/images/logo.png" alt="ribbit icon" />  RIBBIT!</button>
    </form>
  </div>
  {{else}}
    <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
