<p><em>{{moment-from-now question.timestamp}}</em></p>
<p>( {{question.author}} )</p>
<a id="question-link" href="/question/{{question.id}}"><h3>{{question.ribbit}}</h3></a>
<p>Notes: {{question.notes}}</p>
<hr>
